.logo
{
    text-align: center;
    font-family: 'Droid Sans Mono';
    font-size: 30px;
    color: red;
}

.main
{
    text-align: center;
    font-family: 'Droid Sans Mono';
    font-size: 20px;
    color: red;
}

body
{
    background-color: gray;
    color: white;
}

button
{
    width: 200px;
    height: 2em;

    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid white;

    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    height: 2.5em;
    position: relative;
}
